* {
	margin:0;
	padding:0;
}

/*EN EL VIDEO HAY UN ERROR POR EL CUAL NO SE VISUALIZA EN GOOGLE CHROME,
EL CÓDIGO A CONTINUACIÓN YA ESTA CORREGIDO*/
 header, .main, footer{
 	width: 90%;
 	margin:auto;
	max-width: 1000px;
 }

header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}

ul p{
	background: white;
	color: black;
	padding:12px 0px;
	margin-left: 10px;
}


nav {
    top:-20px;
    position: fixed;
    z-index: 1000;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}

nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	/*Quitamos el overflow hidden que estaba aqui*/
	width:100%;
	background:#000;
	position:relative;
}

nav > ul li {
	display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#222121;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
	background:#5DA5A2;
}

nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}

nav > ul > li > a:hover > span {
	top:0;
}

/*Colores*/
nav ul li a .primero {
	background:#0e5061;
}

nav ul li a .segundo {
	background:#5da5a2;
}

nav ul li a .tercero {
	background:#f25724;
}

nav ul li a .cuarto {
	background:#174459;
}

.cerrar{
	text-decoration: underline;
}

/*
.menu-fixed{
	position: fixed;
	z-index: 1000;
	top:0;
	width:100%;
	max-width: 900px; 
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
*/
.icon-creative-commons:before {
  content: "\e90b";
}

.icon-area-graph:before {
  content: "\e965";
}


.icon-blackboard:before {
  content: "\e96e";
}

.icon-beamed-note:before {
  content: "\e96c";
}


footer{
	background: black;
	color:white;
	text-align: center;
	clear:both;
	padding: 10px 0px;
}


/*
-------------------------
*{
	padding: 0;
	margin: 0;
 	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
 }

 header, .main, footer{
 	width: 90%;
 	margin:auto;
	max-width: 1000px;
 }

 header{
 	position: relative;
 }

nav{
 	overflow: hidden;
	background: #528fd5;
	position: absolute;
}
nav > ul{
	display: table;
	width: 100%;
	background: #000;
	position: relative;
}

 nav ul{
	list-style: none; 
}

 nav ul li{
	float:left;
}

nav ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
}

header nav ul li a:hover{
	background: #75ACEC;
} 


.graphs{
	padding: 10px;
	width: 100%;
	height: 33%;
}


.menu-fixed{
	position: fixed;
	z-index: 1000;
	top:0;
	width:100%;
	max-width: 900px; 
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

.icon-creative-commons:before {
  content: "\e90b";
}

.icon-area-graph:before {
  content: "\e965";
}


.icon-blackboard:before {
  content: "\e96e";
}

.icon-beamed-note:before {
  content: "\e96c";
}

footer{
	background: black;
	color:white;
	text-align: center;
	clear:both;
	padding: 10px 0px;
}


*/